includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  bootstrapFiles:
    - phpstan/bootstrap.php
  paths:
    - src
  ignoreErrors:
    # TODO Figure out how to discover the WP_CLI class
    - '#^Call to static method success\(\) on an unknown class WP_CLI\.$#'
    - '#^Unsafe usage of new static\(\).$#'
    # We can't have strong typehints without union types :(
    - '#has no return typehint specified\.#'
    - '#^Parameter \#1 \$term of static method Timber\\Timber::get_term\(\) expects int\|WP_Term\|null, array\|WP_Term given\.$#'
    - '#^Access to an undefined property Timber\\Term::\$slug.$#'
