<div class="greg-events">

  <h2 class="greg-events-list-title">{{ fn('__', 'Events') }}</h2>
  <ul class="greg-events-list">

    {% for event in events %}
      <li class="greg-event">
        <a href="{{ event.link() }}">{{ event.title }}</a>
      </li>
    {% endfor %}

  </ul>

</div>
